<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:name=".OwnerScreens.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RestaurantProject"
        tools:targetApi="31">
        <activity
            android:name=".OwnerScreens.ChooseLanguageActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerScreens.ProfileScreens.UpdateUserDataActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerScreens.HomeScreens.DetailsMenuItemActivity"
            android:exported="false" />
        <activity
            android:name=".OwnerScreens.UpdateMenuItemActivity"
            android:exported="false" />
        <activity
            android:name=".OwnerScreens.AddMenuItemActivity"
            android:exported="false" />
        <activity
            android:name=".AuthScreens.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".OwnerScreens.OwnerActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerScreens.HomeScreens.HomeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".AuthScreens.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".AuthScreens.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".AuthScreens.AuthActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeScreens.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeScreens.ScreenSplash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>